@import "@/styles/Competition.scss";

.card-wrapper {
  @include table-layout();
  height: 100px;
  padding-left: 20px;
  @include hover-shadow();
  &:hover {
    color: #4877ed;
  }
  & > div {
    margin-right: 20px;
  }
  .team-photo {
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background-image: url("~@/assets/images/header_avator.gif");
    @include bg-img-centered();
  }
  .project-name {
    @include ellipsisN(2);
  }
  .project-summary {
    @include ellipsisN(3);
  }
  .team-name {
    @include ellipsisN(2);
  }
  .team-members {
    @include ellipsisN(2);
  }
}
