.main {
  @include body-layout();
  .learn_panel_wrapper {
    @include top-panel();
    .learn_panel {
      position: relative;
      @include layout-width();
      margin: auto;
      .panel_top {
        padding: 10px 0;
        border-bottom: $thin-broder;
        .rotation_img {
          float: left;
          width: 200px;
          height: 100px;
          border: $thin-broder;
          background-size: cover;
          background-position: center center;
        }
        .search_input {
          float: right;
          padding-right: 40px;
        }
      }
      .sort-bar-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
  .container {
    margin: 0 auto;
    .transition-box {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: flex-start;
    }

    @include layout-width();
    padding: 10px 0 20px;
    .article_card {
      margin: 10px;
    }
    .fixed-right-box {
      @include fixed-right-box;
    }
    .pagination {
      @include right-pagination();
    }
  }
}
