.learn-content {
  position: absolute;
  display: flex;
  width: 100%;
  height: calc(100% - 44px);
  .learn-content-article {
    position: relative;
    height: 100%;
    display: flex;
    flex: 80%;
    .content-page {
      position: relative;
      height: 100%;
      width: 100%;
    }
  }
  .learn-content-comments {
    position: relative;
    height: 100%;
    display: flex;
    flex: auto;
    max-width: 300px;
    min-width: 100px;
    flex-direction: column;
    .comments-wrapper {
      flex: 1 1 auto;
      padding: 10px 0 50px;
      overflow-y: auto;
      .comment-box {
        margin-bottom: 10px;
      }
    }
    .send-comment {
      flex: 0 1 auto;
      position: relative;
      width: 100%;
      bottom: 0;
      .send-textarea {
        width: 100%;
        height: 100%;
        font-size: 16px;
        box-sizing: border-box;
      }
      .send-button-wrapper {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        box-sizing: border-box;
        top: -40px;
        right: 0;
        height: 40px;
        padding: 0 5px;
        margin-right: 17px;
        background-color: #f2f2f2;
        border-top-left-radius: 10px;
        .send-shortcut-keys-text {
          color: #c2bdbd;
          font-size: 13px;
          margin: 0 5px;
        }
        .send-btn {
          padding: 5px 10px;
          background-color: #027fff;
          border-radius: 3px;
          cursor: pointer;
          position: relative;
          font-size: 16px;
          color: #fff;
          outline: none;
          margin-left: 5px;
          border: 0;
          &:disabled {
            background-color: #597fac;
          }
        }
      }
    }
  }
}
