$transition_time: 0.5s;
// slide-up
.slide-up-enter-active {
  transition: all 0.5s ease-in-out;
}
.slide-up-leave-active {
  transition: all 0 linear;
}

.slide-up-enter {
  opacity: 0;
  transform: translate3d(0, 40%, 0);
}

.slide-up-enter-to,
.slide-up-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.slide-up-leave-to {
  opacity: 0;
}
// slide-down
.slide-down-enter-acitve,
.slide-down-leave-acitve {
  transform: all 0.5s ease-in-out;
}
.slide-down-enter {
  transform: translate(0, -100%);
}
.slide-down-leave {
  transform: translate(0， 0);
}
