@import "@/styles/Competition.scss";

.about {
  @include body-layout();
  display: flex;
  flex-direction: column;

  .top-panel {
    flex: 0 1 auto;
    @include top-panel();

    .top-panel-content {
      margin: 0 auto;
      @include layout-width();

      .search_box {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: $thin-broder;
      }

      .nav-box {
        margin-top: 10px;
      }
    }
  }

  .content {
    flex: 1 0 auto;
    padding-bottom: 20px;

    .card-box {
      @include layout-width();
      margin: 0 auto;

      // &>div {
      //   margin-top: 10px;
      // }
      .transition-box {
        & > div {
          margin-top: 10px;
        }
      }
      .card-header {
        height: 50px;
        color: #666;
        font-weight: bold;
        margin-top: 10px;
        @include table-layout();
      }
    }

    .pagination {
      @include right-pagination();
    }
  }
}
