@mixin layout-width() {
  //   width: 1386px;
  width: 1440px;
  @media screen and (max-width: 1640px) {
    & {
      width: 1200px;
    }
  }
}

@mixin  ellipsisN($n) {
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $n;
  -webkit-box-orient: vertical;
}
